:root {
    --background-dark: #0f172a;
    --background-secondary: #111827;
    --background-card: #1e293b;

    --text-light: #aaab8b;
    --text-gray: #dee1cb;

    --accent-blue: #3b82f6;
    --accent-gold: #aaab8b;
    --accent-violet: #8b5cf6;

    --border-color: rgba(255,255,255,0.08);

    --transition: 0.3s ease;

    --radius: 16px;

    --container-width: 1200px;
}